@font-face {
    font-family: 'PassionOne';
    src: url('fonts/PassionOne-Bold.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Cordel';
    src: url('fonts/CordelEncarnadoII.otf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    color: #592E0B;
    min-height: 100vh;
    background-color: darkgrey;
    font-family: 'PassionOne', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

header {
    background-color: #592E0B;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-family: 'Cordel', Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    font-weight: normal;
    font-size: 20px;
}

header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-size: 4.2vw;
} 

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: #e9e2d8;
}

.imagem {
    background-color: rgba(51, 51, 51);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.247);
    letter-spacing: 2.1px;
}

.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

#img02 {
    background-image: url('imagens/background002.jpg');  
}


footer{
    background-color: #592E0B;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 1.1em;
    letter-spacing: 1.1px;
    padding: 10px;
}



